In [1]:
import pandas as pd
import matplotlib.pyplot as plt

criminalDayTop10 = pd.read_csv('.\data\criminalDayTop10.csv')
criminalDayTop10

  범죄중분류    금요일    목요일    화요일    수요일    월요일    토요일    일요일
0  교통범죄  58103  54846  53605  54509  51459  57134  47698
1    사기  52039  51654  51876  51225  52740  24124  20814
2    절도  28156  26098  25671  26061  26239  29266  25466
3    폭행  22045  21080  20766  20981  19966  26494  25865