In [1]:
import pandas as pd

criminalArea = pd.read_csv('criminalArea.csv')
criminalArea.head()

,범죄중분류,서울,부산,대구,인천,광주,대전,울산,세종,경기 고양,...,경남 밀양,경남 사천,경남 양산,경남 진주,경남 창원,경남 통영,제주 서귀포,제주 제주,기타도시,도시이외
0,살인기수,67,20,13,17,11,8,12,2,8,...,1,0,2,4,7,2,0,11,7,30
1,살인미수등,96,41,23,34,7,16,11,1,9,...,5,5,6,0,13,2,1,16,4,44
2,강도,274,161,60,103,44,64,29,0,14,...,1,4,2,13,26,3,4,29,4,65
3,강간,969,383,216,304,216,181,132,3,73,...,10,12,35,63,85,11,14,64,18,328
4,유사강간,118,24,21,35,17,14,10,1,9,...,1,1,3,1,8,1,1,12,0,33